.container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 80px 20px 80px;

    /* border: 1px solid var(--primary-color); */
}

.image-miniature-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.image-miniature-product .image-miniature{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-border);
    border-radius: 4px;
    cursor: pointer;
}

.container-image-main{
    display: flex;
    flex: 2;
    margin-left: 30px;
    height: 530px;
    /* border: 1px solid var(--primary-color); */
}

.container-image-main .image-size-normal{
    width: 410px;
    
}

.group-data-product{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    width: 40%;
    height: 400px;
    /* border: 1px solid var(--primary-color); */
}

.datas-product{
    display: flex;
    flex-direction: column;
}

.name-product{
    font-size: 1.9rem;
    color: var(--strong-properties);
    margin-bottom: 20px;
}

.value-product{
    font-size: 1.3rem;
    color: var(--input-color);
    margin-bottom: 20px;
}

.description-product{
    font-size: 0.8rem;
    color: var(--input-color);
    font-family: Arial;
    margin-bottom: 15px;
    max-width: 300px;
}

.amount-product-stock{
    font-size: 0.7rem;
    color: var(--primary-color);
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.button-default{
    background-color: var(--primary-color);
    color: var(--empty-space);
    font-size: 1.1rem;
    font-weight: 700;
    font-family: "Roboto", Arial, sans-serif;
    border: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.button-default:hover{
    background-color: var(--primary-color-hover);
}


.informations-additional{
    width: 100%;
    padding: 20px 80px 20px 80px;
}

.informations-additional .content-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-information{
    font-size: 1.9rem;
    color: var(--strong-properties);
    margin-bottom: 20px;
}

.description-additional-product{
    font-size: 1rem;
    color: var(--input-color);
    font-family: Arial;
    margin-bottom: 18px;
    max-width: 300px;
}

.atribute{
    font-size: 0.9rem;
    color: var(--strong-properties);
    font-family: Arial;
    margin-bottom: 15px;
    max-width: 300px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.atribute-value{
    font-size: 0.9rem;
    color: var(--input-color);
    margin-bottom: 20px;
}

.reference-and-category{
    width: 80%;
    height: 40px;
    margin-left: 80px;
    border-top: 0.8px solid var(--primary-border);
    border-bottom: 0.8px solid var(--primary-border);
    margin-bottom: 30px;
    padding-top: 10px;
}

.atribute-reference{
    font-size: 0.9rem;
    color: var(--input-color);
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    margin-right: 20px;
}

.value-reference{
    font-size: 0.9rem;
    color: var(--strong-properties);
    margin-bottom: 25px;
}

.container-list-product-selected h1{
    text-align: center;
    padding-top: 20px;
}

.list-product-related{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;


    padding: 40px 20px 0 50px;
}
